name: Update Kustomization for ArgoCD

on:
  workflow_dispatch:
  repository_dispatch:
    types: [deploy-image]

jobs:

  ###############################################
  # Check Kubernetes YAML with Checkov
  ###############################################
  check_k8s_with_checkov:
    name: Security Scan - Kubernetes deployment (Checkov)
    runs-on: ubuntu-latest

    steps:
      # Checkout repo to access YAML files
      - name: Checkout repository
        uses: actions/checkout@v3

      # Run Checkov scan on all Kubernetes manifests
      - name: Scan Kubernetes YAML with Checkov
        uses: bridgecrewio/checkov-action@master
        with:
          directory: ${{ github.workspace }}
          framework: kubernetes
          quiet: true
          output_format: github_failed_only
          # Do not fail the pipeline if there are issues
          soft_fail: true
        # Ensure the job continues even if Checkov finds issues
        continue-on-error: true

  ###############################################
  # Update kustomization.yaml
  ###############################################
  update_kustomization:
    name: Update Kustomization YAML
    runs-on: ubuntu-latest
    needs: check_k8s_with_checkov

    steps:
      # Checkout repo
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.PERSONAL_GITHUB_TOKEN }}

      # Install yq
      - name: Install yq
        run: |
          sudo wget https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64 -O /usr/local/bin/yq
          sudo chmod +x /usr/local/bin/yq
          yq --version

      # Update kustomization.yaml
      - name: Update kustomization.yaml image
        run: |
          # Get IMAGE_URI from workflow_dispatch or repository_dispatch
          IMAGE_URI="${{ github.event.inputs.IMAGE_URI || github.event.client_payload.image_uri }}"
          echo "Updating kustomization.yaml with image: $IMAGE_URI"
          IMAGE_NAME="${IMAGE_URI%:*}"
          IMAGE_TAG="${IMAGE_URI##*:}"
          echo "Extracted Name: $IMAGE_NAME"
          echo "Extracted Tag: $IMAGE_TAG"
          yq eval -i ".images[0].newName = \"$IMAGE_NAME\" | .images[0].newTag = \"$IMAGE_TAG\"" ./kustomization.yaml

  ###############################################
  # Commit and push changes
  ###############################################
      - name: Commit and push changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          file_pattern: kustomization.yaml
          commit_message: "Update image to ${{ github.event.inputs.IMAGE_URI || github.event.client_payload.image_uri }}"
          commit_user_name: github-actions[bot]
          commit_user_email: github-actions[bot]@users.noreply.github.com