name: Update Kustomization for ArgoCD

on:
  workflow_dispatch:
    inputs:
      IMAGE_URI:
        description: 'Full Docker image URI (ex: 016246143337.dkr.ecr.us-east-1.amazonaws.com/chris:0.0.1)'
        type: string
        default: '<CHANGE ME>' 
        required: true

jobs:
  update_kustomization:
    runs-on: ubuntu-latest

    steps:
      # Checkout repo
      - name: Checkout repository
        uses: actions/checkout@v3

      # Install yq to edit kustomization.yaml
      - name: Install yq
        run: |
          sudo wget https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64 -O /usr/local/bin/yq
          sudo chmod +x /usr/local/bin/yq
          yq --version

      # Update kustomization.yaml
      - name: Update kustomization.yaml image
        run: |
          IMAGE_URI="${{ github.event.inputs.IMAGE_URI }}"
          echo "Updating kustomization.yaml with image: $IMAGE_URI"

          # Extract newName et newTag
          IMAGE_NAME=$(echo $IMAGE_URI | cut -d':' -f1)
          IMAGE_TAG=$(echo $IMAGE_URI | cut -d':' -f2)
          yq eval -i ".images[0].newName = \"$IMAGE_NAME\" | .images[0].newTag = \"$IMAGE_TAG\"" ./kustomization.yaml

      # Commit et push des changements
      - name: Commit and push changes
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add kustomization.yaml
          git commit -m "Update image to $IMAGE_URI" || echo "No changes to commit"
          git push https://x-access-token:${PERSONAL_GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git HEAD:main
        env:
          PERSONAL_GITHUB_TOKEN: ${{ secrets.PERSONAL_GITHUB_TOKEN }}
